<html lang="ja">
<meta charset="utf-8">
    <title>top</title>
<head>
 <link rel="stylesheet" href="mypage.css">
</head>

<body>

<div class= "mypage">

<h1>マイページ</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>投稿一覧</h2>
<% @user.horrors.each do |t| %>
  <%= t.user.name %>
  <%= t.title %>
  <%= t.sentence %>
<% end %>

<h2>いいねした投稿一覧</h2>
<% @user.liked_horrors.each do |t| %>
  <%= t.user.name %>
  <%= t.title %>
  <%= t.sentence %>
<% end %>

<%= link_to "怪談のページに戻る", horrors_path %>

</div>

</body>