<html lang="ja">
<meta charset="utf-8">
    <title>top</title>
<head>
 <link rel="stylesheet" href="kekka.css">
</head>



<section class="kekka">

<div class="intoro">
<h1>診断結果</h1>
<p>あなたにおすすめの怪談師は…</p>
</div>

<br>

<div class="horror-container">
<div class="horror">
    <% if @perfume.question == "1111" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1112" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1121" %>
    <h3>川奈まり子</h3>
    <h3>三木大雲</h3>
    <h3>城谷歩</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1122" %>
    <h3>中山市朗</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1211" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1212" %>
    <h3>ぁみ</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1221" %>
    <h3>稲川淳二</h3>
    <h3>牛抱せん夏</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "1222" %>
    <h3>下駄華緒</h3>
    <h3>夜馬裕</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>
    
    <% elsif @perfume.question == "2111" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "2112" %>
    <h3>吉田悠軌</h3>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/L0KaHmdzN4g?si=CMjFC7z05tkRzSRi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>
    
    <% elsif @perfume.question == "2121" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>
    
    <% elsif @perfume.question == "2122" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "2211" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "2212" %>
    <h3>DJ響</h3>
    <h3>村上ロック</h3>
    <h3>ファンキー中村</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "2221" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    <% elsif @perfume.question == "2222" %>
    <h3>エラー</h3>
    <p></p>
    <p></p>
    <%= link_to 'もう一度診断する', new_perfume_path, class: "link" %>

    
    
    
    <% end %>

</div>
</div>

</section>